/*Segue o mesmo modelo do elantris.css*/

body {
    color: black;
    background-color: #FFDEAD;
}

.kaladin {
    float: left;
    margin-top: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;             /*margens superiores e inferiores como zero e laterais automáticas*/
    box-sizing: border-box;     /*inclui as boras, padding, largura e altura totais na área especificada*/
}

.kaladin-img {
    mix-blend-mode: multiply;
    background-color: transparent;
    width: 1000px;
    height: auto;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}

.kaladin h1 {
    margin-top: 70px;
    color: #D2691E;
}

.kaladin p {
    text-indent: 30px;
    line-height: 1.5;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.navbar {
    display: flex;
    justify-content: center;    /*centraliza*/
    align-items: center;
    font-family: cursive;
    font-size: calc(2vw + 20px); /*calcula o tamanho da letra tomando como base o tamanho da navbar*/
    text-align: center;
    top: 0;
}

.capa {
    position: relative;     /*define a div como container de referência*/
    float: right;
    padding: 40px;
    margin-top: 100px;
}

.capa-img {
    border-radius: 10%;
    border: 5px solid #D2691E;
}

figure {            /*foi isso aqui que fez a legenda parar de puxar a imagem para baixo*/
    margin: 0;
    position: relative;
}

figcaption {
    text-align: center;
}

.dalinar {
    position: relative;
    clear: both;    /*faz com que a div fique abaixo do último elemento flutuante*/
    float: right;
    padding: 20px;
    max-width: 1000px;
    margin-top: 40px;
}

.dalinar-img {
    mix-blend-mode: multiply;
    background-color: transparent;
    width: 1000px;
    height: auto;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}

.dalinar h1 {
    /*estilização*/
    text-align: center;
    color: #D2691E;
    text-decoration: underline overline;
    text-decoration-style: wavy;
}

.dalinar p {
    /*estilização*/
    text-indent: 30px;
    line-height: 1.5;
    font-size: 1.5rem;
    word-wrap: break-word;

    /*espacinho entre os parágrafos*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.DalinarKholin {    /*nesse caso não precisou do clear: both, não sei dizer o motivo*/
    position: relative;
    float: left;
    padding: 40px;
    margin-top: 100px;
    max-width: 700px;
    max-height: auto;
}

.foto {
    width: 700px;
    height: auto;
    border-radius: 10%;
    border: 5px solid #D2691E;
    transition: transform 0.3s ease-in-out;
}

.foto:hover {
    transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}
